<div class="container" style="padding-top: 120px">
  <%= form_with(model: idea, local: true) do |form| %>
    <% if idea.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(idea.errors.count, "error") %> prohibited this idea from being saved:</h2>
        <ul>
        <% idea.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= form.label :title, "Título:" %>
      <%= form.text_field :title, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= form.label :body, "Describe tu idea:" %>
      <%= form.text_area :body, rows: 10, class: 'form-control' %>
    </div>

    <div class="row mb-4">
      <div class="form-group col-sm-4">
        <%= form.label :benefits, "Beneficio 1:" %>
        <%= form.text_field :benefits, name: 'idea[benefits][]', class: 'form-control', value: idea.benefits.try(:first) %>    </div>

        <div class="form-group col-sm-4">
        <%= form.label :benefits, "Beneficio 2:" %>
        <%= form.text_field :benefits, name: 'idea[benefits][]', class: 'form-control', value: idea.benefits.try(:second) %>
      </div>

        <div class="form-group col-sm-4">
        <%= form.label :benefits, "Beneficio 3:" %>
        <%= form.text_field :benefits, name: 'idea[benefits][]', class: 'form-control', value: idea.benefits.try(:third) %>
      </div>    
    </div>

    <div class="row mb-4">
      <div class="form-group col-sm-4">
        <%= form.label :initial_cost, "Inversión inicial:" %>
        <%= form.text_field :initial_cost, class: 'form-control' %>
      </div>  
      <div class="form-group col-sm-4">
        <%= form.label :monthly_cost, "Gasto mensual:" %>
        <%= form.text_field :monthly_cost, class: 'form-control' %>
      </div>
      <div class="form-group col-sm-4">
        <%= form.label :estimated_time, "Tiempo estimado:" %>
        <%= form.number_field :estimated_time, class: 'form-control' %>
      </div>        
    </div>
    <p>
      <strong>Categorías</strong><br>
      <small>Selecciona hasta <strong>2 categorías</strong> para ayudar a clasificar tu propuesta y sea más fácil para otros usuarios encontrarla.</small>
    </p>  
    <div class="row">
      <% @categories.each_slice(4) do |categories| %>
        <div class="col-sm-4">
          <% categories.each do |category| %>
            <div class="checkbox">
              <label class="checkbox inline">
                <%= check_box_tag :category_ids, category.id, @idea.categories.include?(category), name: 'idea[category_ids][]', class: 'category-idea-checkbox' %>
                <%= category.name %>
              </label>
            </div>
          <% end %>
        </div>
      <% end %>  
    </div>

    <div class="form-group mt-5">
      <p>Imagen de a propuesta</p>
      <% if @idea.image.attached? %>
        <%= image_tag @idea.image, widht: 150, height: 150 %>
      <% end %>
      <small>Selecciona una imagen para tu propuesta:</small>
      <%= form.file_field :image, direct_upload: true %>
    </div>

    <div class="form-group text-center" style="padding-top: 20px">
      <%= form.submit controller.action_name == 'new' ? "Publicar idea" : "Actualizar idea", class: 'btn btn-primary' %>
      <%= link_to '[X] Cancelar cambios', idea_path(idea) %>
    </div>
  <% end %>
</div>