<ul class="list-unstyled">
  <% @comments.each do |comment|%>
    <li class="mt-4">
      <%= comment.user.image.attached? ? (image_tag comment.user.image, width: 32, height: 32, class: 'rounded-circle') : "<i class='fas fa-user-circle fa-2x'></i>".html_safe %></i>
      <%= link_to comment.user.full_name, nil %> 
      <%= comment.body %> - <%= comment.created_at.strftime("%d/%m/%y a las %l:%M %p") %>
    </li><br>
    <% if comment.user == current_user %>
      <div id="comment-controlls">
        <span>
          <small>
            <%= link_to "<i class='far fa-edit'></i> Editar".html_safe, edit_comment_path(comment)%>
          </small>
          <small>
            <%= link_to "<i class='fas fa-trash'></i> Eliminar".html_safe, comment_path(comment.id), method: :delete, data: {confirm: '¿Estás seguro de borrar tu comentario?'}, class: 'text-danger'%>
          </small>
        </span>
      </div>
    <% end %>
  <% end %>
</ul>